<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="col-sm">
      <img src="../../assets/images/another_logo.png" />
    </div>
    <div class="col-sm" style="text-align: left">
      <h2>OUR STORY</h2>
      <p>
        This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit
        auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi
        elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit
        amet nibh vulputate cursus
      </p>

      <p>
        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
        ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
      </p>
      <button type="button" class="btn btn-outline-success">LEARN MORE</button>
    </div>
  </div>
</div>
<div class="our-story-bg" style="margin-top: 70px">
  <div class="our-story-bg__content" style="top: 50%">
    <button
      (click)="showVideo()"
      type="button"
      style="background: none; margin-top: 0px; border: 0px; padding: 0"
    >
      <img src="../../assets/images/play.png" />
      <p style="color: white; padding-top: 20px">WATCH OUR STORY</p>
    </button>
  </div>
</div>
<div style="margin-top: 70px">
  <h2>EXPERTISE</h2>
  <p style="font-weight: 300">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum, neque?
  </p>
  <p></p>
  <hr style="width: 5%" />
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card" style="border-style: none">
          <div class="card-body">
            <img
              src="../../assets/images/expertise icons/web_design_and_development.png"
            />
            <h5 style="margin-top: 30px">WEB DESIGN & DEVELOPMENT</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              similique adipisci ipsa necessitatibus obcaecati aut.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="border-style: none">
          <div class="card-body">
            <img
              src="../../assets/images/expertise icons/branding_identity.png"
            />
            <h5 style="margin-top: 30px">BRANDING IDENTITY</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              similique adipisci ipsa necessitatibus obcaecati aut.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="border-style: none">
          <div class="card-body">
            <img src="../../assets/images/expertise icons/mobile_app.png" />
            <h5 style="margin-top: 30px">MOBILE APP</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              similique adipisci ipsa necessitatibus obcaecati aut.
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm">
        <div class="card" style="border-style: none">
          <div class="card-body">
            <img
              src="../../assets/images/expertise icons/search_time_optimization.png"
            />
            <h5 style="margin-top: 30px">SEARCH ENGINE OPTIMIZATION</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              similique adipisci ipsa necessitatibus obcaecati aut.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="border-style: none">
          <div class="card-body">
            <img
              src="../../assets/images/expertise icons/game_development.png"
            />
            <h5 style="margin-top: 30px">GAME DEVELOPMENT</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              similique adipisci ipsa necessitatibus obcaecati aut.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="border-style: none">
          <div class="card-body">
            <img src="../../assets/images/expertise icons/made_with_love.png" />
            <h5 style="margin-top: 30px">MADE WITH LOVE</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
              similique adipisci ipsa necessitatibus obcaecati aut.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="our-team-bg overflow-auto">
  <div class="our-story-bg__content container">
    <div style="margin-top: 70px">
      <h2>MEET OUR AMAIZING TEAM</h2>
      <p style="font-weight: 300">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda,
        doloremque.
      </p>
      <hr style="width: 5%; background-color: #fff" />
    </div>
    <div class="row">
      <div class="col-sm">
        <div style="background-color: #fff; width: 100%; height: 250px"></div>
        <h6 style="padding-top: 15px">SEMF UCUK</h6>
        <p>CED & FOUNDER</p>
        <hr style="background-color: #fff" />
      </div>
      <div class="col-sm">
        <div style="background-color: #fff; width: 100%; height: 250px"></div>
        <h6 style="padding-top: 15px">SEMF UCUK</h6>
        <p>CED & FOUNDER</p>
        <hr style="background-color: #fff" />
      </div>
      <div class="col-sm">
        <div style="background-color: #fff; width: 100%; height: 250px"></div>
        <h6 style="padding-top: 15px">SEMF UCUK</h6>
        <p>CED & FOUNDER</p>
        <hr style="background-color: #fff" />
      </div>
      <div class="col-sm">
        <div style="background-color: #fff; width: 100%; height: 250px"></div>
        <h6 style="padding-top: 15px">SEMF UCUK</h6>
        <p>CED & FOUNDER</p>
        <hr style="background-color: #fff" />
      </div>
    </div>
    <p>Became part of our dream team, let's join to us!</p>
    <button type="button" class="btn btn-outline-success">WE ARE HIRING</button>
  </div>
</div>
<div style="margin-top: 70px">
  <div class="container">
    <div class="row">
      <div class="col-sm" style="text-align: left">
        <h3>OUR WORKS</h3>
      </div>
      <div class="col-sm">
        <a style="color: #000; text-decoration: none" href="/"
          ><p style="font-weight: 300">See All Project in dribble ></p></a
        >
      </div>
    </div>
  </div>
  <img src="../../assets/images/bottom.png" width="100%" />
  <button
    type="button"
    class="btn btn-outline-success"
    style="margin-top: 70px"
  >
    LOAD MORE
  </button>
</div>
<div class="testimonials-bg overflow-auto" style="margin-top: 70px">
  <div class="our-story-bg__content">
    <img src="../../assets/images/“.png" style="margin-top: 70px" />
    <div class="container">
      <p style="margin-top: 50px">{{ Testimonails[active].review }}</p>
      <h3 style="margin-top: 50px">{{ Testimonails[active].author }}</h3>
      <p>{{ Testimonails[active].job }}</p>
      <button
        (click)="setActive(2)"
        style="
          background: none;
          margin-top: 0px;
          border: 0px;
          padding: 0;
          margin: 10px;
        "
      >
        <img src="{{ Testimonails[2].icon }}" />
      </button>
      <button
        (click)="setActive(1)"
        style="
          background: none;
          margin-top: 0px;
          border: 0px;
          padding: 0;
          margin: 10px;
        "
      >
        <img src="{{ Testimonails[1].icon }}" />
      </button>
      <button
        (click)="setActive(0)"
        style="
          background: none;
          margin-top: 0px;
          border: 0px;
          padding: 0;
          margin: 10px;
        "
      >
        <img src="{{ Testimonails[0].icon }}" />
      </button>
      <button
        (click)="setActive(3)"
        style="
          background: none;
          margin-top: 0px;
          border: 0px;
          padding: 0;
          margin: 10px;
        "
      >
        <img src="{{ Testimonails[3].icon }}" />
      </button>
      <button
        (click)="setActive(4)"
        style="
          background: none;
          margin-top: 0px;
          border: 0px;
          padding: 0;
          margin: 10px;
        "
      >
        <img src="{{ Testimonails[4].icon }}" />
      </button>
    </div>
  </div>
</div>
<div style="margin-top: 70px">
  <h2>GIVE US A GOOD NEWS</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        <div style="padding-top: 20px;"></div>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
        <div style="padding-top: 20px;"></div>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
        <div style="padding-top: 20px;"></div>
        <textarea
          class="form-control"
          rows="7"
          placeholder="Your Message"
        ></textarea>
        <button
        type="button"
        class="btn btn-outline-success"
        style="margin-top: 20px"
        >
            SUBMIT
        </button>
      </div>
    </div>
  </div>
</div>