<nav class="navbar navbar-default navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <img src="../../assets/images/logo.png">
                <span class="h3 logo-text">tajam</span> 
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            <a class="nav-link" href="" style="color:#00e0d0;">HOME</a>
            <a class="nav-link" href="" style="color:#fff;">ABOUT</a>
            <a class="nav-link" href="" style="color:#fff;">EXPERTISE</a>
            <a class="nav-link" href="" style="color:#fff;">TEAMS</a>
            <a class="nav-link" href="" style="color:#fff;">WORKS</a>
            <a class="nav-link" href="" style="color:#fff;">PEAPOLE SAY</a>
            <a class="nav-link" href="" style="color:#fff;">CONTACT</a>
        </ul>
        </div>
    </div>
</nav>