<nav class="navbar navbar-default navbar-expand-lg navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <img src="../../assets/images/logo.png">
                <span class="h3 logo-text">tajam</span> 
            </a>
        </div>
        <button (click)="changeHideStatus()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            <a class="nav-link" href="" style="color:#00e0d0;">HOME</a>
            <a class="nav-link" href="" style="color:#fff;">ABOUT</a>
            <a class="nav-link" href="" style="color:#fff;">EXPERTISE</a>
            <a class="nav-link" href="" style="color:#fff;">TEAMS</a>
            <a class="nav-link" href="" style="color:#fff;">WORKS</a>
            <a class="nav-link" href="" style="color:#fff;">PEAPOLE SAY</a>
            <a class="nav-link" href="" style="color:#fff;">CONTACT</a>
        </ul>
        </div>
    </div>
</nav>
<h1 style="padding-top: 10%;">We Are Awesome Creative Agency</h1>
<div [hidden]="hide_text" class="container">
    <hr style="background-color: #00e0d0; width: 5%;">
    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
    <button type="button" class="btn btn-outline-success">LEARN MORE</button>
</div>