<div class="footer-bg overflow-auto" style="margin-top: 50px; text-align: left">
  <div class="footer-bg__content container" style="padding-top: 70px">
    <div class="row">
      <div class="col-sm">
        <img src="../../assets/images/logo.png" />
        <span class="h4 logo-text">tajam</span>
        <p style="padding-top: 10px">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
          similique, perferendis quia harum mollitia ea? Cum excepturi ullam
          voluptate eligendi quod repellat praesentium aspernatur.
        </p>
      </div>
      <div class="col-sm">
        <h6 style="padding-top: 15px">OUR STUDIO</h6>
        <div style="padding-top: 10px"></div>
        <img src="../../assets/images/address.png" />
        <span style="margin-left: 5px">
          Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - J</span
        >
        <div style="padding-top: 10px"></div>
        <img src="../../assets/images/phone.png" />
        <span style="margin-left: 5px"> (+62) 21-2224 3333</span>
      </div>
      <div class="col-sm">
        <h6 style="padding-top: 15px">STAY IN TOUCH</h6>
        <div style="padding-top: 10px"></div>
        <form class="form-inline">
          <div class="form-group" style="padding-right: 10px">
            <input
              class="form-control"
              type="text"
              placeholder="Subscribe our newsletter"
              style="background: none"
            />
          </div>
          <button
            class="btn-small"
            style="
              padding: 5px;
              background-color: white;
              border: none;
              background: url(../../assets/images/rectangle.png);
            "
          >
            <img src="../../assets/images/paper.png" />
          </button>
        </form>
        <a href="https://facebook.com"
          ><img
            height="20px"
            width="17px"
            src="../../assets/images/social/facebook.png"
            style="border: 1px solid white; border-radius: 50%; padding: 2px"
        /></a>
        <span style="padding-left: 2px"></span>
        <a href="https://twiter.com"
          ><img
            height="20px"
            width="20px"
            src="../../assets/images/social/twitter.png"
            style="border: 1px solid white; border-radius: 50%; padding: 2px"
        /></a>
        <span style="padding-left: 2px"></span>
        <a href="https://dribbble.com/"
          ><img
            height="20px"
            width="20px"
            src="../../assets/images/social/dribbble.png"
            style="border: 1px solid white; border-radius: 50%; padding: 2px"
        /></a>
        <span style="padding-left: 2px"></span>
        <a href="https://instagram.com"
          ><img
            height="20px"
            width="20px"
            src="../../assets/images/social/instagram.png"
            style="border: 1px solid white; border-radius: 50%; padding: 2px"
        /></a>
        <span style="padding-left: 2px"></span>
        <a href="https://google.com"
          ><img
            height="20px"
            width="20px"
            src="../../assets/images/social/google.png"
            style="border: 1px solid white; border-radius: 50%; padding: 2px"
          />
        </a>
        <span style="padding-left: 2px"></span>
        <a href="https://youtube.com"
          ><img
            height="20px"
            width="20px"
            src="../../assets/images/social/youtube.png"
            style="border: 1px solid white; border-radius: 50%; padding: 2px"
        /></a>
      </div>
    </div>
    <div class="row" style="margin-top: 70px">
      <div class="col-sm" style="text-align: left">
        <a>HELP </a>
        <a style="margin-left: 5px">TERMS & CONDITIONS </a>
        <a style="margin-left: 5px">PRIVACY</a>
      </div>
      <div class="col-sm" style="text-align: right">
        Copyright © 2015 - Tajem Creative
      </div>
    </div>
  </div>
</div>
